name: Update Major Release Tag

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  major-tag-updater:
    uses: sue445/workflows/.github/workflows/major-tag-updater.yml@main
    secrets:
      slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
